.App {
  height: 100%; 
  text-align: center;
  padding-top: 110px; 
}

body {
  background-color: #4B0082; 
  font-family: 'Play', sans-serif;
}

.empty {
  padding: 75px 0; 
}

#drum-container {
  background-color: rgb(201, 181, 241); 
  width: 600px; 
  height: 350px; 
  border-radius: 5px; 
  display: flex; 
  flex-direction: row-reverse; 
  margin: 0 auto; 
}

#drum-control {
  width: 30%; 
  margin-top: 50px; 
  margin-right: 50px; 
}

#music-keys {
  width: 70%; 
  margin: 50px;  
}

.music-buttons {
  float: left;
  width: 73px; 
  height: 73px; 
  margin: 8px; 
  border: none;  
  border-radius: 5px; 
  background-color: #4B0082; 
  color: white;
  font-size: 20px; 
  cursor: pointer; 
}

.music-buttons:hover {
  background-color: orange; 
}

.green-button {
  background-color: green; 
}

.red-button {
  background-color: red; 
}

h3 {
  margin: 10px auto 5px auto; 
}

#power-title {
  width: 56px;
}

#bank-title {
  width: 45px;
}

.display-box {
  margin: 24px auto 24px auto; 
  background-color: #4B0082; 
  border-radius: 5px; 
  width: 180px; 
}

.display-text {
  padding: 15px; 
  font-size: 17px;
  font-weight: bold;  
  color: white; 
  text-align: center; 
  height: 20px; 
}

input {
  width: 210px; 
}

.toggleButton {
  width: 50px; 
  height: 25px; 
  border: 2px solid black; 
  border-radius: 3px; 
  margin: 0 auto; 
  cursor: pointer; 
}

.item {
  display: inline-block;
  background-color:gray; 
}

.show-left {
  text-align: left; 
}

.show-right {
  text-align: right; 
}

.item-left {
  width: 25px; 
  height: 25px; 
}

.item-right {
  width: 25px; 
  height: 25px; 
}

.show-left .item-right {
  display: none; 
}

.show-right .item-left {
  display: none; 
}

@media(max-width: 625px) {
  .empty {
    padding: 40px 0; 
  }

  #drum-container {
    width: 80%; 
    height: 300px; 
  }

  #music-keys {
    margin: 50px 10px 40px 25px; 
  }
  
  .music-buttons {
    width: 60px; 
    height: 60px; 
    margin: 5px; 
  }

  h3 {
    margin: 4px auto; 
  }

  #power-title {
    font-size: 16px; 
    width: 50px;
  }
  
  #bank-title {
    font-size: 16px; 
    width: 40px;
  }
  
  .display-box {
    margin: 18px auto 18px auto; 
    background-color: #4B0082; 
    border-radius: 5px; 
    width: 160px; 
  }
  
  .display-text {
    padding: 10px; 
    font-size: 15px;
    font-weight: bold;  
    color: white; 
    text-align: center; 
    height: 18px; 
  }

  input {
    width: 160px; 
  }
}

@media(max-width: 530px) {
  #music-keys {
    width: 75%; 
    margin: 45px 10px 40px 15px; 
  }
  
  #drum-control {
    width: 25%; 
    margin-right: 30px; 
  }

  h3 {
    margin: 3px auto; 
  }
  
  .display-box {
    width: 129px; 
  }
  
  .display-text {
    font-size: 13px;
    height: 17px; 
  }

  input {
    width: 129px; 
  }
}

@media(max-width: 416px) {
  #drum-container {
    width: 80%; 
    height: 260px; 
  }

  .music-buttons {
    width: 45px; 
    height: 45px; 
    margin: 5px; 
    padding: 0; 
    font-size: 18px; 
  }

  #music-keys {
    margin: 40px 3px 10px 10px; 
  }
  
  #drum-control {
    margin-right: 20px; 
    margin-top: 20px; 
  }
  
  .display-box {
    width: 90px; 
  }
  
  .display-text {
    font-size: 10px;
    height: 17px; 
  }

  input {
    width: 90px; 
  }
}

@media(max-width: 321px) {
  #drum-container {
    width: 90%; 
  }
}
