/*------------general and drum container-------------------*/
.App {
  height: 100%; 
  text-align: center;
  padding-top: 110px; 
}

body {
  background-color: #4B0082; 
  font-family: 'Play', sans-serif;
}

.empty {
  padding: 75px 0; 
}

h3 {
  margin: 10px auto 5px auto; 
}

#drum-container {
  background-color: rgb(201, 181, 241); 
  width: 600px; 
  height: 350px; 
  border-radius: 15px; 
  display: flex; 
  flex-direction: row-reverse; 
  margin: 0 auto; 
}

/*--------------drum control--------------------*/
#drum-control {
  width: 30%; 
  margin-top: 50px; 
  margin-right: 50px; 
}

#power-title {
  width: 56px;
  color:  rgb(50, 1, 85);
}

.toggle-button {
  width: 50px; 
  height: 25px; 
  border: 2px solid #4B0082; 
  border-radius: 3px; 
  margin: 0 auto; 
  cursor: pointer; 
}

.on-button {
  background-color: orange; 
}

.off-button {
  background-color: rgb(182, 169, 206); 
}

.item {
  display: inline-block;
  background-color:rgb(208, 192, 240); 
}

.item-left {
  width: 25px; 
  height: 25px; 
}

.item-right {
  width: 25px; 
  height: 25px; 
}

.show-left {
  text-align: left; 
}

.show-right {
  text-align: right; 
}

.show-left .item-right {
  display: none; 
}

.show-right .item-left {
  display: none; 
}

.display-box {
  margin: 24px auto 24px auto; 
  background-color: #4B0082; 
  border-radius: 5px; 
  width: 180px; 
}

.display-text {
  padding: 15px; 
  font-size: 17px;
  font-weight: bold;  
  color: white; 
  text-align: center; 
  height: 20px; 
}

input {
  width: 210px; 
}

#bank-title {
  width: 45px;
  color: rgb(50, 1, 85);
}

.select-item {
  display: inline-block; 
  background-color:#4B0082; 
}

/*--------------music buttons-----------------*/
#music-keys {
  width: 70%; 
  margin: 50px;  
}

.music-buttons {
  float: left;
  width: 73px; 
  height: 73px; 
  margin: 8px; 
  border: none;  
  border-radius: 5px; 
  background-color: #4B0082; 
  color: white;
  font-size: 20px; 
  cursor: pointer; 
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(.06,.67,.37,.99);
}

.music-buttons:hover {
  transform: translateY(-.2rem);
}

.music-buttons:focus {
  background-color: orange; 
}

/*-----------------responsive design-------------------*/
@media(max-width: 625px) {
  .empty {
    padding: 40px 0; 
  }

  #drum-container {
    width: 80%; 
    height: 300px; 
  }

  #music-keys {
    margin: 50px 10px 40px 25px; 
  }
  
  .music-buttons {
    width: 60px; 
    height: 60px; 
    margin: 5px; 
  }

  h3 {
    margin: 4px auto; 
  }

  #power-title {
    font-size: 16px; 
    width: 50px;
  }
  
  #bank-title {
    font-size: 16px; 
    width: 40px;
  }
  
  .display-box {
    margin: 18px auto 18px auto; 
    background-color: #4B0082; 
    border-radius: 5px; 
    width: 160px; 
  }
  
  .display-text {
    padding: 10px; 
    font-size: 15px;
    font-weight: bold;  
    color: white; 
    text-align: center; 
    height: 18px; 
  }

  input {
    width: 160px; 
  }
}

@media(max-width: 530px) {
  #music-keys {
    width: 75%; 
    margin: 45px 10px 40px 15px; 
  }
  
  #drum-control {
    width: 25%; 
    margin-right: 30px; 
  }

  h3 {
    margin: 3px auto; 
  }
  
  .display-box {
    width: 129px; 
  }
  
  .display-text {
    font-size: 13px;
    height: 17px; 
  }

  input {
    width: 129px; 
  }
}

@media(max-width: 416px) {
  #drum-container {
    width: 80%; 
    height: 260px; 
  }

  .music-buttons {
    width: 45px; 
    height: 45px; 
    margin: 5px; 
    padding: 0; 
    font-size: 18px; 
  }

  #music-keys {
    margin: 40px 3px 10px 10px; 
  }
  
  #drum-control {
    margin-right: 20px; 
    margin-top: 20px; 
  }
  
  .display-box {
    width: 90px; 
  }
  
  .display-text {
    font-size: 10px;
    height: 17px; 
  }

  input {
    width: 90px; 
  }
}

@media(max-width: 321px) {
  #drum-container {
    width: 90%; 
  }
}

/*-------------- CUSTOM VOLUME RANGE INPUT -- Credit: https://github.com/darlanrod/input-range-scss/blob/master/_inputrange.scss ------*/
[type=range] {
  -webkit-appearance: none;
  margin: 12.5px 0;
  width: 100%;
}
[type=range]:focus {
  outline: none;
}
[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 2px 2px 2px #4B0082;
  background: #4B0082;
  border: none;
  border-radius: 5px; 
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #4B0082;
  border: 1px; 
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4B0082;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  transform: scale(1.0); 
  transition: all 0.2s cubic-bezier(.06,.67,.37,.99);
}
[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.2); 
}
[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 1px 1px 1px #4B0082;
  background: #4B0082;
  border: none;
  border-radius: 5px; 
}
[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #4B0082;
  border: 1px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4B0082;
  cursor: pointer;
}
[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px #4B0082;
  background: #4B0082;
  border: 1px solid #4B0082;
  border-radius: 0;
}
[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px #4B0082;
  background: #4B0082;
  border: 1px solid #4B0082;
  border-radius: 0;
}
[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #4B0082;
  border: 1px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4B0082;
  cursor: pointer;
}
[type=range]:focus::-ms-fill-lower {
  background: #4B0082;
}
[type=range]:focus::-ms-fill-upper {
  background: #4B0082;
}